spring:
  application:
    name: hospitalinquiry
  datasource:
    url: jdbc:postgresql://localhost:5432/hospital-inquiry
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  security:
    user:
      name: admin
      password: admin9
  jackson:
    property-naming-strategy: SNAKE_CASE
server:
  servlet:
    context-path: /hi
  port: 8081